thead {
  background-color:purple;
  color: white;
}

tfoot{
  background-color: black;
  color: white;
}

body {
  font-family: sans-serif;
}

header {
  background-color: purple;
  color: white;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}

nav {
  background-color: #eeeeee;
  padding: 10px;
}

.nav_links {
  color: purple;
  background-color: #eeeeee;
  text-decoration: none;
  border: 1px solid purple;
  padding: 5px;
}

.nav_links:hover {
  color: #eeeeee;
  background-color: purple;
  border: 1px solid #eeeeee;
}

main {
  padding: 10px;
}

footer {
  background-color: #999999;
  padding: 10px;
}

form {
  background-color: whitesmoke;
  padding: 20px;
}

input,select,textarea{
  margin-bottom: 20px;
}

textarea {
  width: 30%;
  height: 100px;
}

.button {
 background-color: white;
 color: purple;
 border: 2px solid purple;
 padding: 6px;
}

.button:hover{
  background-color: purple;
  color:white;
}

.override {
font-style: italic;
font-size: 14px;
color: firebrick;
}